.slider{
    position: relative;
    padding-bottom: 60px;
    width: 100%;
    overflow: hidden;
}
.slider_wrapper{
    width: 100%;
    position: relative;
    overflow: hidden; 
    z-index: 1;
}
.slider .item img{
    width:100%;
    object-fit: cover;
    border: none;
    box-shadow: none;
}

.slider .prev, .slider .next{
    cursor: pointer;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}