*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f4;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 100%;
    min-width: 320px;
    max-width: 2000px;
    overflow-y: scroll;
    cursor: default;
    line-height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}
